<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-7" pull-left>
                    <a class="navbar-brand" href="#!/admin">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="navbar-brand">
                        Review Details
                    </a>
                </div>

                <div class="col-xs-5 pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"><a href="#!/admin">Admin</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>

    </div>
</nav>


<div class="container-fluid wb-dev-admin-rev">
    <h1 class="wb-dev-bg-golred">Reviews</h1>
    <ul class="list-group wb-dev-margin-right12">
        <li class="list-group-item wb-dev-bg-black">
            <div class="row wb-dev-bg-golred">
                <div class="col-xs-3">
                    UserName
                </div>
                <div class="col-xs-3">
                    MovieName
                </div>
                <div class="col-xs-5">
                    Content
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </li>
        <li ng-repeat="review in model.reviews" class="list-group-item wb-dev-bg-black">
            <div class="row wb-dev-lg-col">
                <div class="col-xs-3">
                    {{review.author}}
                </div>
                <div class="col-xs-3">
                    {{review.movieTitle}}
                </div>
                <div class="col-xs-5">
                    {{review.content}}
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.deleteReview(review._user, review._id)" class="glyphicon glyphicon-remove">
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="#!/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>