.wb-dev-col-whitesm
{
    color:whitesmoke;
}

.wb-dev-font-size50
{
    font-size: 50px;
}

.wb-dev-font-size20
{
    font-size: 20px;
}

.wb-dev-margin-top-50
{
    margin-top:-50px;
}

.wb-dev-margin-top-100
{
    margin-top:-100px;
}

.wb-dev-margin-bottom-50
{
    margin-bottom:-50px;
}

.wb-dev-col-white
{
    color: white;
}

