<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Widget {{model.mode}}
            </a>
            <p class="navbar-text pull-right">
                <a ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="model.widget.name"
                   placeholder="Heading"
                   id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="Text"
           id="text"/>


            <label for="size">Size</label>
            <select id="size"
                    ng-model="model.widget.size"
                    class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>

            <a ng-if="model.mode == 'Edit'" ng-click="model.deleteWidget(model.widgetId)"
               class="btn btn-block btn-danger">
                Delete
            </a>
            <a ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)"
               class="btn btn-block btn-success">
                Update
            </a>
            <a ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)"
                class="btn btn-block btn-success">
                Create
            </a>
        </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>