<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Widget {{model.mode}}
            </a>
            <p class="navbar-text pull-right">
                <a ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-warning">{{model.error}}</div>


    <form name="userForm" novalidate>

        <div class="form-group">

            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="model.widget.name"
                   placeholder="Name"
                   name="name"
                   id="name"
                   required/>
            <p ng-show="userForm.name.$invalid && userForm.$submitted" class="help-block">Youtube Name is required.</p>
        </div>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="Description"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           placeholder="URL of Video"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           placeholder="Provide width in percentage"
           id="width"/>

    <a ng-if="model.mode == 'Edit'" ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">
        Delete
    </a>

    <button type="submit" ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)" class="btn btn-block btn-success">
        Update
    </button>

    <button type="submit" ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)" class="btn btn-block btn-success">
        Create
    </button>
    </form>

</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>