<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Widget Image Editor</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

            <label for="name">Name</label>
            <input class="form-control"
                   placeholder="Robot"
                   value="Robot at IIT TechFest"
                   id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Info about Image"
           value="Two mobile developers, Lilith Games and uCool, have tried to make clones of Dota2 for smartphones and been sued by Valve as a result."
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="URL of Image"
           value="https://i.kinja-img.com/gawker-media/image/upload/m2yedceywfa89qetxnfo.jpg"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="Provide width in percentage"
           value="100%"
           id="width"/>

     <label for="Upload">Upload</label>
     <input id="Upload" type="file" class="form-control"/>

    <a href="widget-list.view.client.html" class="btn btn-block btn-primary">Upload Image</a>
    <a href="widget-list.view.client.html" class="btn btn-block btn-danger">Delete</a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

</body>
</html>