<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Widget {{model.mode}}
            </a>
            <p class="navbar-text pull-right">
                <a ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>

    <a ng-if="model.mode == 'Edit'" ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>

    <a ng-if="model.mode == 'Edit'" ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-if="model.mode == 'New'" ng-click="model.createWidget(model.widget)"
       class="btn btn-block btn-success">
        Create
    </a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>