<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>List Of Pages</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="st.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <a href="ading-edit.html">
                        Header
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Label
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        HTML
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Text Input
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                       Link
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Button
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="age-edit.html">
                        Image
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="utube-edit.html">
                        Youtube
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Data Table
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Repeater
                    </a>
                </div>
            </div>
        </li>

    </ul>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

</body>
</html>