<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html"`>
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-7" pull-left>
                    <a class="navbar-brand" href="#!/">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="navbar-brand">
                       Expert Reviews
                    </a>

                </div>

                <div class="col-xs-5 pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/register">SignUp</a></li>
                            <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"><a href="#!/admin">Admin</a></li>
                            <li ng-show="model.currentUser._id"><a ng-click="model.myMovieView()">My Movies</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/myReviews">My Reviews</a></li>
                            <li ng-show="model.currentUser._id" class="active"><a href="#!/followers">Followers</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>

    </div>
</nav>



<div class="container-fluid wb-dev-mov-rev-cont">
<div class="row wb-dev-margin-rtl">
    <ul class= "list-group wb-dev-margin-bottom75">
            <li class="list-group-item wb-dev-bg-col">
                <div class="row">
                    <div class="col-xs-4">
                        UserName
                    </div>
                    <div class="col-xs-4">
                        FirstName
                    </div>
                    <div class="col-xs-4">
                        Email
                    </div>
                </div>
            </li>

        <div ng-show="!model.followers[0]">
            <p class="wb-dev-margin-top50-col">No Followers Yet.</p>
        </div>
        <div ng-repeat="follower in model.followers" class="table-bordered">
                <div class="row wb-dev-margin-left12">
                    <div class="col-xs-4">
                        <div class="wb-dev-lg-col"> {{follower.username}} </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="wb-dev-lg-col">{{follower.firstName}} </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="wb-dev-lg-col">{{follower.email}} </div>
                    </div>
                </div>
        </div>
    </ul>
</div>
</div>





<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.putProfileTrace()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>