<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Current Movie
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!--<div class="input-group">-->
        <!--<input ng-model="searchMovie" type="text" class="form-control">-->

        <!--<span class="input-group-btn">-->
            <!--<a ng-click="model.searchMovie(searchMovie)"-->
               <!--class="btn btn-default"-->
               <!--type="button">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
            <!--</a>-->
        <!--</span>-->

    <!--</div>-->

    <div ng-repeat="movie in model.data">
        <div class="row table-bordered">
            <div class="col-lg-5">
                <b>Title:</b>
                <a ng-click="model.movieDetails(movie.title)">
                        {{movie.title}}
                </a>
            </div>
            <div class="col-lg-11">
                <b>Overview:</b>
                {{movie.overview}}
            </div>
            <div ng-if="model.rating" class="col-lg-11">
                <b>Rating:</b>
                {{model.rating}}
            </div>
            <div class="col-lg-2">
                <a ng-click="model.getRating(movie.title)">
                    See Rating
                </a>
            </div>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>