<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-9 col-md-7" pull-left>
                    <a ng-click="model.getPath()" class="navbar-brand">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="navbar-brand">
                        Movie Details
                    </a>
                </div>

                <div class="col-xs-3 col-md-5 pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/register">SignUp</a></li>
                            <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"><a href="#!/admin">Admin</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/myMovies">My Movies</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/myReviews">My Reviews</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/followingReviews">Following</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>

    </div>
</nav>

<div class="container-fluid wb-dev-mov-det-cont">


            <h1 id="title" class="wb-dev-col-whitesm">{{model.movie.title}} ({{model.movie.release_date.substring(0,4)}})</h1>
    <div class="row wb-dev-margin-bottom25">
        <div class="col-lg-3 pull-left">
            <img ng-src="http://image.tmdb.org/t/p/w185{{model.movie.poster_path}}" width = 200px/>
        </div>
        <div class="col-lg-9 wb-dev-col-whitesm">
                {{model.movie.overview}}
            <br> <br>
            Release Date: {{model.movie.release_date}}
            <br><br>
            Rating: {{model.movie.vote_average}}
            <br><br>
            <a href="{{model.movie.homepage}}" class="wb-dev-col-green">{{model.movie.homepage}}</a>
            <br><br>
            IMDB Link: <a href="http://imdb.com/title/{{model.movie.imdb_id}}">Visit IMDB Link</a>
            <br><br>
            <a href="#!/movie/{{model.movie.id}}/review">
                Read and Post Reviews
            </a>
            <br><br>
            <div ng-show="model.currentUser._id">
                <a ng-show="!model.like" ng-click="model.likeMovie()">
                    <i class="fa fa-heart-o fa-2x"></i>
                </a>
                <a ng-show="model.like" ng-click="model.unLikeMovie()">
                    <i class="fa fa-heart fa-2x wb-dev-col-red"></i>
                </a>
                <a ng-show="!model.watch" ng-click="model.watchMovie()">
                    <i class="fa fa-eye fa-2x"></i>
                </a>
                <a ng-show="model.watch" ng-click="model.unWatchMovie()">
                    <i class="fa fa-eye fa-2x wb-dev-col-red"></i>
                </a>
            </div>
            <div ng-show="!model.currentUser._id">
                <a href="#!/login">
                    Please Login to like and add movie to your playlist.
                </a>
            </div>
        </div>
     </div>
    </div>


<div id="panel wb-dev-bg-mar-bottom">


    <div id="mov-det" class="panel panel-info wb-dev-margin-bottom1">
        <div class="panel-heading">Movie Details</div>
        <div class="panel-body">
            {{model.movie.overview}}
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Tagline: {{model.movie.tagline}}</li>
            <li class="list-group-item">Running Time: {{model.movie.runtime}}</li>
        </ul>
    </div>

    <div class="panel panel-info wb-dev-margin-bottom1">
        <div class="panel-heading">Movie Genre</div>
        <!-- List group -->
        <ul class="list-group">
            <li ng-repeat="genre in model.movie.genres" class="list-group-item">
                    {{genre.name}}
            </li>
        </ul>
    </div>

    <div class="panel panel-info wb-dev-margin-bottom1">
        <div class="panel-heading">Box Office</div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Budget: {{model.movie.budget}} USD </li>
            <li class="list-group-item">Revenue: {{model.movie.revenue}} USD</li>
        </ul>
    </div>

    <div class="panel panel-info wb-dev-margin-bottom1">
        <div class="panel-heading">Production Companies</div>
            <!-- List group -->
        <div ng-repeat="company in model.movie.production_companies">
            <li class="list-group-item">{{company.name}}</li>
        </div>
    </div>

    <div class="panel panel-info wb-dev-margin-bottom1">
        <div class="panel-heading">Star Cast</div>
        <!-- List group -->
        <ul class="list-group">
            <li ng-repeat="character in model.movie.credits.cast" class="list-group-item">
                <div class="row">
                    <div class="col-lg-11 pull-left">
                        Character: {{character.character}}
                        <br>
                        Name: {{character.name}}
                    </div>
                    <div class="col-lg-1 pull-right">
                        <img ng-src="http://image.tmdb.org/t/p/w185{{character.profile_path}}" width = 50px/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>




<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.putProfileTrace()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>