<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-7" pull-left>
                        <a class="navbar-brand" href="#!/">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    <a class="navbar-brand">
                        My Collection
                    </a>
                </div>

                <div class="col-xs-5 pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                            <li ng-show="!model.currentUser._id"><a href="#!/register">SignUp</a></li>
                            <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"><a href="#!/admin">Admin</a></li>
                            <li ng-show="model.currentUser._id" class="active"><a href="#!/myMovies">My Movies</a></li>
                            <li ng-show="model.currentUser._id"><a href="#!/myReviews">My Reviews</a></li>
                            <li ng-show="model.currentUser._id && model.currentUser.roles.indexOf('USER')>-1"><a href="#!/followingReviews">Following</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>

    </div>
</nav>


<div class="container-fluid wb-dev-mov-fav-cont">

    <div class="row wb-dev-margin25">
        <h1 class="wb-dev-wc wb-dev-margin-top25">Movies Liked by me</h1>

        <div ng-repeat="movie in model.favMovies">
            <div class="pull-left wb-dev-pos-rel">
                <img ng-src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" width = 100px/>
                <a ng-click="model.movieDetailView(movie.id)" class="wb-dev-mov-title">
                    {{movie.title}}
                </a>
            </div>
        </div>
    </div>

    <hr class="wb-dev-col-white">


    <div class="row wb-dev-margin25">
        <h1 class="wb-dev-wc">My Watch List</h1>

        <div ng-repeat="movie in model.watMovies">
            <div class="pull-left wb-dev-home-img">
                <img ng-src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" width = 100px/>
                <a ng-click="model.movieDetailView(movie.id)" class="wb-dev-mov-title">
                    {{movie.title}}
                </a>
            </div>
        </div>
    </div>

</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.putProfileTrace()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>