 <div class="container-fluid">
        <h1>Login</h1>
     <div ng-show="model.error" class="alert alert-warning">{{model.error}}</div>

     <form name="userForm" novalidate>
         <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   name="username"
                   ng-model="username"
                   id="username"
                   class="form-control"
                   placeholder="gautam0209"
                    required/>
            <p ng-show="userForm.username.$invalid && userForm.$submitted" class="help-block">Username is required.</p>
         </div>

         <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               ng-model="password"
               id="password"
               class="form-control"
               placeholder="bansal0211#"
               required/>
             </div>
         <p ng-show="userForm.password.$invalid && userForm.$submitted" class="help-block">Password is required.</p>

         <!--<a type="submit" class="btn btn-primary btn-block"-->
                <!--ng-click="model.login(username, password)">-->
                <!--Login</a>-->
         <button type="submit" class="btn btn-primary btn-block"
                 ng-click="model.login(username, password)">
             Login
         </button>

        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>

     <a href="/auth/google" class="btn btn-danger btn-block">
         <span class="fa fa-google-plus"></span>
         Google
     </a>

     <a href="/auth/facebook" class="btn btn-primary btn-block">
         <span class="fa fa-facebook"></span>
         Facebook
     </a>
     </form>

    </div>