<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left wd-pad-l-r-15">
            <a href="" >
                <span class="glyphicon glyphicon-play "></span>
            </a>
        </p>



        <p class="navbar-text pull-left wd-pad-l-r-15">
            <a href="" >
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </p>



        <p class="navbar-text pull-right" style="padding-left: 15px;padding-right: 15px;">
            <a href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>

</nav>