<div class="container wb-dev-login-bg">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 wb-dev-log-box">
        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

        <div class="panel wb-dev-bg-trans">
            <div class="panel-heading">
                <div class="panel-title wb-dev-lg-col"><b>Sign In</b></div>
            </div>

            <div class="panel-body wb-dev-pad-top25">
                <div class="input-group wb-dev-margin-bottom20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text"
                           ng-model="username"
                           id="username"
                           class="form-control"
                           placeholder="movieLogin"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                    <input type="password"
                           ng-model="password"
                           id="password"
                           class="form-control"
                           placeholder="moviePassword"/>
                </div>


                <div class="input-group">
                    <a class="btn btn-primary"
                        ng-click="model.login(username, password)">
                        Login</a>
                    <a class="btn btn-success wb-dev-margin-left15"
                       href="#!/">
                        Continue as Guest</a>
                </div>
            </div>


            <hr class="wb-dev-col-black"/>

            <div class="input-group wb-dev-margin-bottom-15">>
                <div class="panel-heading">
                    <div class="panel-title wb-dev-lg-col"><b>Login Via</b></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/auth/google" class="btn btn-danger wb-dev-margin-left10">
                            <span class="fa fa-google-plus"></span>
                            Google
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/auth/facebook" class="btn btn-primary">
                            <span class="fa fa-facebook"></span>
                            Facebook
                        </a>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-12 wb-dev-margin-left10">
                        <b class="wb-dev-lg-col">
                            New here?
                        </b>
                        <a href="#!/register">Sign Up!!</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>