<div class="container wb-dev-profile-bg">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 wb-dev-margin-top70">
        <div ng-show="model.error" class="alert alert-info">{{model.error}}</div>
        <div ng-show="model.message" class="alert alert-success">{{model.message}}</div>


        <div class="panel wb-dev-bg-trans">
            <div class="panel-heading">

                <div class="panel-title wb-dev-lg-col"><b>Your Profile</b></div>
            </div>


            <div class="panel-body wb-dev-pad-top25">
                <div class="input-group wb-dev-margin-bottom20">
                    <label for="username"><b class="wb-dev-lg-col">Username</b></label>
                    <input type="text"
                           ng-readonly="true"
                           ng-model="model.user.username"
                           id="username"
                           class="form-control"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="password"><b class="wb-dev-lg-col">Password</b></label>
                    <input type="password"
                           ng-model="model.user.password"
                           id="password"
                           class="form-control"
                           placeholder="moviePassword"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="email"><b class="wb-dev-lg-col">Email</b></label>
                    <input type="email"
                           ng-model="model.user.email"
                           id="email"
                           class="form-control"
                           placeholder="movie@movieBuff.com"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="firstName"><b class="wb-dev-lg-col">First Name</b></label>
                    <input type="text"
                           ng-model="model.user.firstName"
                           id="firstName"
                           class="form-control"
                           placeholder="firstName"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="lastName"><b class="wb-dev-lg-col">LastName</b></label>
                    <input type="text"
                           ng-model="model.user.lastName"
                           id="lastName"
                           class="form-control"
                           placeholder="lastName"/>
                </div>

                <div ng-show="model.currentUser.status" class="input-group wb-dev-margin-bottom20">
                    <label for="request"><b class="wb-dev-lg-col">Expert Status</b></label>
                    <input type="text"
                           ng-readonly="true"
                           ng-model="model.user.status"
                           id="request"
                           class="form-control"
                           placeholder="lastName"/>
                </div>


                <a  class="btn btn-info margin-bottom: 5px" ng-click="model.goBack()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>


                <div class="input-group">

                    <a class="btn btn-success wb-dev-margin-right5"
                    ng-click="model.updateProfile(model.user)">
                        <b>Update</b>
                    </a>
                    <a class="btn btn-danger wb-dev-margin-right5"
                    ng-click="model.unregister(model.user)">
                        <b>Unregister</b>
                    </a>
                    <a class="btn btn-danger wb-dev-margin-right5"
                    ng-click="model.logout()">
                        <b>Logout</b>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>