<div class="container wb-dev-reg-bg">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 wb-dev-margin-top50">
        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

        <div class="panel wb-dev-bg-trans">
            <div class="panel-heading">
                <div class="panel-title wb-dev-lg-col"><b>Sign Up</b></div>
            </div>

            <div class="panel-body wb-dev-pad-top25">
                <div class="input-group wb-dev-margin-bottom20">
                    <label for="username"><b class="wb-dev-lg-col">Username</b></label>
                    <input type="text"
                           ng-model="model.user.username"
                           id="username"
                           size="40px"
                           class="form-control"
                           placeholder="gautam0209"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="password"><b class="wb-dev-lg-col">Password</b></label>
                    <input type="password"
                           ng-model="model.user.password"
                           id="password"
                           size="40px"
                           class="form-control"
                           placeholder="moviePassword"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="password2"><b class="wb-dev-lg-col">Verify Password</b></label>
                    <input type="password"
                           ng-model="model.user.password2"
                           id="password2"
                           size="35px"
                           class="form-control"
                           placeholder="moviePassword"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="email"><b class="wb-dev-lg-col">Email</b></label>
                    <input type="email"
                           ng-model="model.user.email"
                           id="email"
                           size="45px"
                           class="form-control"
                           placeholder="movie@movieBuff.com"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="firstName"><b class="wb-dev-lg-col">First Name</b></label>
                    <input type="text"
                           ng-model="model.user.firstName"
                           id="firstName"
                           size="40px"
                           class="form-control"
                           placeholder="firstName"/>
                </div>

                <div class="input-group wb-dev-margin-bottom20">
                    <label for="lastName"><b class="wb-dev-lg-col">LastName</b></label>
                    <input type="lastName"
                           ng-model="model.user.lastName"
                           id="lastName"
                           size="40px"
                           class="form-control"
                           placeholder="lastName"/>
                </div>
                <div class="input-group">

                    <a class="btn btn-success wb-dev-margin-right5"
                       ng-click="model.register(model.user)">
                        <b>Register</b>
                    </a>
                    <a class="btn btn-danger wb-dev-margin-right5 "
                       href="#!/">
                        <b>Cancel</b>
                    </a>

                </div>
                <a class="btn btn-info pull-left wb-dev-margin-right-top5"
                   ng-click="model.registerForExpert(model.user)">
                    <b>Request For Expert Login</b>
                </a>
            </div>

        </div>
    </div>
</div>
